.weatherMeteorShower {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
}

.weatherMeteorShower html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.weatherMeteorShower body {
  background: linear-gradient(#FAB6AD, #FED1B9);
}

#wrap {
  width: 350px;
  margin: 100px auto;
}

#moon {
  position: relative;
  height: 350px;
  width: 350px;
  border-radius: 50%;
  background: linear-gradient(50deg, rgba(0,0,0,0), rgba(255,255,255,0.4));
  z-index: 1;
}

#stars {
  position: absolute;
  z-index: 2;
}

.star-head {
  position: relative;
  width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-right: 9px solid #fff;
  transform: rotate(-45deg);
}

.star-trail {
  position: relative;
  width: 185px;
  height: 5px;
  margin-top: -73px;
  margin-left: -22px;
  background: linear-gradient(310deg, rgba(0,0,0,0), rgba(255,255,255,0.3));
  transform: rotate(-45deg);
}

.star:first-of-type {
  margin-top: -350px;
  margin-left: 400px;
  animation: shoot 1.5s linear infinite;
  animation-delay: 0.2s;
}

.star:nth-of-type(2) {
  margin-top: 10px;
  margin-left: 360px;
  animation: shoot 2s linear infinite;
  animation-delay: 0.4s;
}

.star:nth-of-type(3) {
  margin-top: 70px;
  margin-left: 350px;
  animation: shoot 2s linear infinite;
  animation-delay: 0.2s;
}

.star:nth-of-type(4) {
  margin-top: 70px;
  margin-left: 390px;
  animation: shoot 1.5s linear infinite;
  animation-delay: 0.2s;
}

.star:nth-of-type(5) {
  margin-top: -160px;
  margin-left: 280px;
  animation: shoot 1s linear infinite;
  animation-delay: 0.4s;
}

.star:nth-of-type(6) {
  margin-top: 60px;
  margin-left: 280px;
  animation: shoot 2s linear infinite;
  animation-delay: 0.6s;
}

.star:nth-of-type(7) {
  margin-top: 220px;
  margin-left: 280px;
  animation: shoot 1.5s linear infinite;
  animation-delay: 0.6s;
}

.star:nth-of-type(8) {
  margin-top: 40px;
  margin-left: 200px;
  animation: shoot 1s linear infinite;
  animation-delay: 0.4s;
}

.star:nth-of-type(9) {
  margin-top: -140px;
  margin-left: 460px;
  animation: shoot 2s linear infinite;
  animation-delay: 0.6s;
}

.star:nth-of-type(10) {
  margin-top: 30px;
  margin-left: 210px;
  animation: shoot 1.5s linear infinite;
  animation-delay: 0.6s;
}

@keyframes shoot {
  0% {transform: translate(500px, -500px);}
  100% {transform: translate(-500px, 500px);}
}

#credit {
  position: absolute;
  font-family: sans-serif;
  font-size: 12px;
  color: #DCA098;
  left: 20px;
  text-align: left;
}

#credit a,
#credit a:visited {
  text-decoration: none;
  color: #DC786B;
}

#credit a:focus,
#credit a:hover {
  color: #DC887D;
}
