.rowStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.columnStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.appButtonRowStyle {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
}

.appButtonStyle {
  margin: 3px;
}

.appbuttonContainer {
  margin: 5px;
}
