body {
  font-family: 'Merienda';
}

.mainContainer {
  height: auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-bottom: 1000px;
}

.rowStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
}

.columnStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.appButtonRowStyle {
  height: auto;
  width: 60vw;
  margin-bottom: 30px;
  display: inline-block;
background-image: linear-gradient(-20deg, #f794a4 0%, #fdd6bd 100%);
  border-radius: 50px;
  padding: 20px;
}

.appButtonStyle {
  margin: 5px;
}

.appTitleStyle {
  margin-left: 30px;
  margin-bottom: 30px;
}

.componentMargin {
  margin-top: 50px;
}

.subComponentButtonContainer {
  display: inline-block;
  max-width: 50vw;
  padding: 20px;
  margin-bottom: 50px;
  border-radius: 50px;
background-image: linear-gradient(-75deg, #20E2D7 0%, #F9FEA5 100%);
}

.subAppButtonStyle {
  margin-left: 5px;
  display: inline-block;
}

button {
	color: #454545;
	background: transparent;
	border-width: 2px;
	border-style: solid;
	border-color: #454545;
	position: relative;
	margin: 1em;
	display: inline-block;
	padding: 0.5em 1em;
	transition: all 0.3s ease-in-out;
	text-align: center;
	font-family: comfortaa;
	font-weight: bold
}

button:before,
button:after {
	content: '';
	display: block;
	position: absolute;
	border-color: #454545;
	box-sizing: border-box;
	border-style: solid;
	width: 1em;
	height: 1em;
	transition: all 0.3s ease-in-out
}

button:before {
	top: -6px;
	left: -6px;
	border-width: 2px 0 0 2px;
	z-index: 5;
}

button:after {
	bottom: -6px;
	right: -6px;
	border-width: 0 2px 2px 0;
}

button:hover:before,
button:hover:after {
	width: calc(100% + 12px);
	height: calc(100% + 12px);
	border-color: #fff
}

button:hover {
	color: #353535;
	background-color: #fff;
	border-color: #fff
}
